body {
  color: #212529;
  background-color: #132021;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.card-header {
  background-color: #dfecec;
}

.card {
  background-color: #eff5f6;
}

.bg-dark {
  background-color: #1c3031 !important;
}

.img-fluid {
  background-color: #132021;
}

.makepost {
  background-color: #eff5f6;
  color: #5f9ea0;
}

.card-body .img-fluid {
    background-color: #eff5f6;
}

a {
  color: #5f9ea0;
  text-decoration: none;
  background-color: transparent;
}

.switch-blog {
  color: #fff !important;
  cursor: pointer;
}

.navbar-icon {
  color: #5f9ea0;
}

a:hover {
  color: #5d8b9a;
  text-decoration: none;
  background-color: transparent;
}

blockquote {
  margin: 0 0 1rem;
}

.btn-light {
  color: #fff;
  background-color: #1c3031;
  border-color: #1c3031;
}

.btn-light:hover {
  color: #fff;
  background-color: #132021;
  border-color: #1c3031;
}

.dropdown-menu {
  background-color: #222;
  border: 1px solid #444;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #444;
  color: #fff;
}

.dropdown-divider {
  border-top: 1px solid #444;
}

.btn-warning {
  color: #fff;
  background-color: #F39C12;
  border-color: #F39C12;
}

.btn-primary {
  color: #fff;
  background-color: #375a7f;
  border-color: #375a7f;
}

.btn-secondary {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #212529;
  background-color: #a5d0c7;
  border-color:  transparent;
}

.badge-danger {
  color: #fff;
  /* background-color: #dc3545; */
}

